.ngo-card{
    cursor: pointer;   
    margin: 5%; 
}
.ngo-card:hover{
    box-shadow:0.3rem 0.3rem 0.3rem 0.3rem rgba(0,0,0,0.5);
}
.main-container{
    margin: 1%;
}
.heading{
    margin-top: 15%;
}